.header {
  height: 95%;
  // background-color: $color-background;
  
  
 &__picture {
  position: absolute;
  height: 25%;
  top: 15%;
  left: 45%;
  box-shadow: 0 .5rem 3rem rgba($color-font, .8);
  border-radius: 50%;
  border: 5px solid $color-pink;
  animation: slideLeft 2s ease;
  }

  &__picture:hover {
    border: 5px solid $color-green;
    cursor: pointer;
  }

  &__picture:active {
  box-shadow: 0 .5rem 2rem rgba($color-font, .8);
  transform: translateY(3px);
  }
  
 }
 